./venvrodadas
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
.bak
.vscode/*
.history
.env
local_settings.py
/static/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
